<!-- MATERIAL DESIGN ICONIC FONT -->
<link rel="stylesheet" href="userAssets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

<!-- STYLE CSS -->
<link rel="stylesheet" href="../../userAssets/stylesheets/style1.css">

<body>

    <div class="wrapper" style="background-color: rgb(231, 221, 221);">
        <div class="inner">
            <form action="/admin/login" method="post">
                <h3>Admin login</h3>

                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button>Login</button>
               
            </form>
        </div>
    </div>

</body>